<p>Found : <%= @levels.length%> levels.</p>
<h2>Score board:</h2>
<% @levels.each do |level|%>
    <%= form_for(level) do |f| %>
        <% if level.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(level.errors.count, "error") %> prohibited this level from being saved:</h2>

              <ul>
                <% level.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.text_field :score %>
        </div>
        <div class="actions">
          <!--<%= f.submit %>    -->
        </div>
    <% end %>

<%end%>
<%= button_to "Store Scores",
              :action => 'save_scores',
              :id =>@game
%>