<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1>Scores:</h1>

<h2>Your Games:</h2>
<%= column_chart Level.group(:game_id).sum(:score) %>

<h2>Everyones Games:</h2>
<h3>Games Played:</h3>
<%= line_chart Game.group_by_day(:created_at).count, :id => "users-chart", :height => "500px" %>

<h3>High Score:</h3>
<%= column_chart User.includes(:levels).group(:email).sum(:score) %>

<h3>Average Score per Player aquired each game:</h3>
<%= column_chart User.includes(:levels).group(:email, :game_id).average(:score) %>

<h3>New Users :</h3>
<%= line_chart User.group_by_day(:created_at).count %>